*Welcome!This notebook is intended to present my work on the Segmenting and Clustering Neighborhoods in Toronto assignment*

**Import the required packages**

In [21]:
import numpy as np
import pandas as pd
import lxml
import html5lib

**Get the whole data on the wikipedia page into a pandas dataframe**

In [22]:
link = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df_list = pd.read_html(link)

**df_list in the above cell is a list of dataframe objects.Pick the required element(i.e. dataframe) in the list which includes the postal codes and neighbourhood data**

In [23]:
df = df_list[0]

**Get a picture of the dataframe extracted**

In [24]:
df.head()

  Postcode           Borough      Neighborhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

**Rename the Postcode column accordingly**

In [25]:
df.rename(columns={'Postcode':'PostalCode'},inplace=True)

**Ignore the rows in the dataframe where borough values are mentioned as Not assigned**

In [26]:
df = df[df['Borough']!='Not assigned']

**Perform the groupby operation to group the rows by PostalCode and join the Neighbourhood column into a comma separated values of neighbourhoods in the group**

In [27]:
df = df.groupby('PostalCode',as_index=False).agg({'Borough':'first','Neighborhood':','.join})

**Iterate the dataframe and replace the neighbourhood values with borough values in the rows where there is some borough value assigned but the neighbourhood value is equal to Not assigned**

In [28]:
for index,row in df.iterrows():
    if(row['Neighborhood'] == 'Not assigned'):
        df.replace(row['Neighborhood'],row['Borough'],inplace=True)

**Get a picture of the dataframe after all operations**

In [29]:
df.head()

  PostalCode      Borough                          Neighborhood
0        M1B  Scarborough                         Rouge,Malvern
1        M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2        M1E  Scarborough       Guildwood,Morningside,West Hill
3        M1G  Scarborough                                Woburn
4        M1H  Scarborough                             Cedarbrae

**Get the number of rows in the dataframe using the shape method**

In [30]:
df.shape[0]

103